.product {
    .product-list-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .product-list-body {
        .product-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            .product-info {
                display: flex;
                align-items: center;
            }
        }
    }
}